<h1>Profesor</h1>
<div class="contenedor-grid">

    <div class="tarjeta">
        <a href="/Estudiante/ListadoEstudiantes" class="tarjeta__enlace link">
            <div class="tarjeta__contenido">
                <p class="tarjeta__titulo">Estudiantes</p>
            </div>
            <div class="tarjeta__contenedor-img">
                <img src="https://t4.ftcdn.net/jpg/05/32/32/31/240_F_532323199_NxlxDATu0FDYM8VbEqDM9HpoX3o4jlTA.jpg" class="tarjeta__img">
            </div>
        </a>
    </div>
    <div class="tarjeta">
        <a href="@Url.Action("ListadoProfesores","Profesor")" class="tarjeta__enlace link">
            <div class="tarjeta__contenido">
                <p class="tarjeta__titulo">Profesores</p>
            </div>
            <div class="tarjeta__contenedor-img">
                <img src="https://t4.ftcdn.net/jpg/05/98/83/07/240_F_598830770_0eLgwCwnSGtvqVC90SqOTMpapuweELiU.jpg" class="tarjeta__img">
            </div>
        </a>
    </div>
    <div class="tarjeta">
        <a href="/Carrera/Index" class="tarjeta__enlace link">
            <div class="tarjeta__contenido">
                <p class="tarjeta__titulo">Materias</p>
            </div>
            <div class="tarjeta__contenedor-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnePII1e1SUbUXLmeU1JrMyDMy_3yAhEqARg&usqp=CAU" class="tarjeta__img">
            </div>
        </a>
    </div>
    <div class="tarjeta">
        <a href="@Url.Action("index","Carrera")" class="tarjeta__enlace link">
            <div class="tarjeta__contenido">
                <p class="tarjeta__titulo">Carreras</p>
            </div>
            <div class="tarjeta__contenedor-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQomevU9Qoq_Pm_iWMGmR2w0cMbi0F6L1UHLw&usqp=CAU" class="tarjeta__img">
            </div>
        </a>
    </div>
</div>